@import url("grid.css");

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.modal-background {
    display: none;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    background: rgba(0, 0, 0, 0.3); /* прозрачный фрн модального окна */
}

.modal-background:target {
    display: block;
}

.modal-window {
    background-color: #fff;
    margin: 100px auto;
    max-width: 1024px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.dg-default {
    background-color: #2980b9;
    color: #fff;
}

.btn {
    background-color: #ecedee;
    border: none;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 24px 8px;
    vertical-align: middle;
    border-radius: 2px;
    text-decoration: none;
}

.btn-default {
    background-color: #2980b9;
    color: #fff;
}

.modal-header h4 {
    margin: 5px 0 5px;
}

.modal-header, .modal-content {
    padding: 10px 15px;
}

.modal-footer {
    padding: 20px 15px;
    background-color: #fff;
}

/* menu */
.menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
    background:#2980b9;
    height: 50px;
}

.menu a {
    text-decoration: none;
    background:#2980b9;
    color: #fff;
    padding: 0px 15px;
    line-height: 50px;
    display: block; 
    border-right: 1px solid #2980b9;
}
.menu a:hover {
    background: #163e58;
}

.menu li {
    float: left;
    position: relative;
}

.sub-menu {
    position: absolute;
    display: none;
    margin: 0;
}

.menu li:hover > .sub-menu {
    display: block; 
    width: 250px;
}

.menu li:hover > .sub-menu > li {
    float: none; 
}