body {
    background-image: url(../../images/background-code.jpg);
    background-position: left, top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto; /* cover contain */
    background-color: #464646;
    color: #ECF0F1;
    font-size: 20px;
    margin: 0px;
}

.block {
    background-color: rgba(23, 32, 42, .4);
    border: 0px;
    margin: 0px;
}

.space {
    height: 20px;
}

h3.art  {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.art {
    text-decoration: none;
    color: #D35400;
}

p.art {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 49%;
}

.text-right {
    text-align: right;
}

div.art {
    margin-top: 15px;
    margin-bottom: 15px;
}

a.btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.pic {
    float: left;
    height: 150px;
    width: 120px;
    margin: 0px 10px 10px 0px;
}

.todo {
    align-content: center;
    list-style-type: none;
    padding: 5px;
}

.todo > li {
    float:left;
    margin: 10px;
    padding: 15px;
    background-color: rgba(23, 32, 42, .7);
    width: 21%;
    min-height: 300px;
    vertical-align: top;
}

.todo ul > li {
    color: #D35400;
}

textarea
{
  width:100%;
  margin:5px 0;
  padding:3px;
}

/* меню */
.menu {
    text-align: center;
}

.menu li {
    display: inline-block; 
    list-style-type: none;
    padding: 15px;
    background-color: rgba(44, 62, 80, .3);
}

.menu li.active {
    background-color: rgba(211, 84, 0, .3);
}

.menu a {
    text-decoration: none;
    font-size: 30px;
    color: #ECF0F1;
}